/* General */

* {
  margin: 0px;
  padding: 0px;
  font-family: Menlo, monospace;
  font-size: 18px;
}

/* BitStamp link */

p, a {
  text-align: center;
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Ticker table */

table {
  border-collapse: collapse;
  margin: 30px auto;
}

td {
  padding: 10px 20px 0px 20px;
}

#last, #volume {
  text-align: center;
}

#high, #low, #bid, #ask {
  text-align: right;
}

.text {
  font-variant: small-caps;
  font-size: 13px;
  text-align: center;
  padding: 0px 20px 10px 20px;
}

.br {
  border-right: 1px solid gray;
}

.bb {
  border-bottom: 1px solid gray;
}
